@media only screen and (max-width: 300px) {
    body {
      background-image: url("images/Phone_Backdrop.jpg");
    }
  }

body{
    background-image: url("images/Backdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;
    /* back */
}

h1{
    text-align: center;
    height: 100px;
}

.a {
   display: flex;
   height: 1000px;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.intro{
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 300;
    font-family: 'Satisfy', cursive;
    font-size: 35px;
}
.navigation {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
}

.navigation a{
    text-decoration: none;
    color: black;
    width: 80px;
    font-size: 20px;
    transition: 0.5s;
}
.navigation a:hover{
    letter-spacing: 2px;
}

.contact-details{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
}
.projects a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
    font-size: 20px;
}

.projects a:hover{
    letter-spacing: 2px;
}

.education{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.work p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
